<section class="main-content" style="background-color: #EEF1FA;">
		<div class="container">
			<br>
			<br>
      <div class="level">
        <h3 class="tag is-link is-large mb-4 level-left explore"><%= link_to 'Explorá traders', bios_path %></h3>
        <div class="tags are-medium p-3">
          <span class="tag is-white"><%= link_to '# Riesgo Bajo', bios_path(params: {riesgo: 'bajo'}) %></span>
          <span class="tag is-white"><%= link_to '# Riesgo Medio', bios_path(params: {riesgo: 'medio'}) %></span>
          <span class="tag is-white"><%= link_to '# Riesgo Alto', bios_path(params: {riesgo: 'alto'}) %></span>
        </div>
        <div class="level-right">
          <%= form_tag bios_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "border border-transparent",
              style: "border-radius: 3%;",
              placeholder: "Buscá a un trader"
            %>
            <%= submit_tag "", class: "" %>
          <% end %>
        </div>
      </div>

        <div class="row">
          <% @bios.each do |bio| %>
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="card bg-white p-3 mb-4 shadow is-clickable">
                <%= link_to bio_path(bio) do %>
                  <div class="user-info">
                    <div class="d-flex">
                      <%= cl_image_tag bio.photo.key,  height: 80, width: 80, crop: :fill, :radius => 100, :class => 'pt-0'%>
                      <h5 class="pl-4 pt-3"> <strong> <%= bio.username %> </strong></h5>
                    </div>
                  </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <h6 class="py-3 mt-1"><strong>Trades:</strong></h6>
                    <h5 class="py-3 mt-1 ml-2">250</h5>
                  </div>
                  <% if bio.rendimiento > 0 %>
                    <span class="font-weight-bold py-3"><strong class="text-success"><%= bio.rendimiento%>%</strong> since last month</span>
                  <% elsif bio.rendimiento < 0%>
                      <span class="font-weight-bold py-3"><strong class="text-danger"><%= bio.rendimiento%>%</strong> since last month</span>
                  <% else %>
                      <span class="font-weight-bold py-3"><strong class=""><%= bio.rendimiento%>%</strong> since last month</span>
                 <% end %> 
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
		</div>
  </div>
</section>
