<div class="container">
 <div class="row text-center">
    <h1> Username: <%= @bio.username %> </h1>
    <h1> Description: <%= @bio.description %>  </h1>
    <h1> Rendimiento: <%= @bio.rendimiento %>  </h1>
    <h1> Volatilidad: <%= @bio.volatilidad %> </h1>
    <div class="img"><%= cl_image_tag current_user.bio.photo.key %> </div>

    <%= link_to "Edit profile", edit_bio_path(@bio)  %>
  </div>
</div>
