<div class="container flex justify-center pt-6">
  <br>
  <br><br>
  <div class="rounded-lg overflow-hidden shadow p-4 bg-white" style="width: 75%;">
    <% pnl_hash = {} %>
    <% @trades.each do |trade| %>
      <% if !trade.pnl.nil?  %>
        <% pnl_hash[trade.created_at] = trade.pnl %>
        <!--<%# pnl_hash[trade.created_at.strftime("%a-%H-%M")] = trade.pnl %>-->
      <% end %>
    <% end %>

  <% position_hash = {} %>
    <% @positions.each do |position| %>
    <% if !position.pnl.nil?  %>
      <% position_hash[position.created_at] = position.pnl %>
   <% end %>   
  <% end %>

    <%= line_chart [{name: 'Trades', data: pnl_hash}, {name: 'Posiciones', data: position_hash}], title: "Rendimiento Portoflio", colors: ["#495ec6", "#EEF1FA"], dataset: {borderWidth: 5},round: 2%>
  </div>
</div>
<br><br><br>
<div class="container flex justify-center">
  <br><br>
  <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg bg-white " style="width: 75%;">
    <div class="pt-3 pl-4">
      <span class="is-size-4">Historial trades</span>
      
    </div>
    <table class="w-100 divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th class="pl-6 py-2">Coin</th>
          <th class="pt-2">Side</th>
          <th class="pt-2">Entry</th>
          <th class="pt-2">Exit</th>
          <th class="pt-2">PnL</th>
        </tr>
      </thead>
      <% @trades.each do |trade| %>
      <% if !trade.pnl.nil? %>
        <tbody>
          <tr>
            <td class="font-medium text-gray-900 pl-6 py-3"><%= trade.symbol %></td>
            <% if trade.side == "BUY" %>
              <td class="tag is-success px-2.9 my-3"><%= trade.side %></td>
            <% else %>
              <td class="tag is-danger px-2 my-3"><%= trade.side %></td>
            <% end %>
            <td class="py-3"><%= trade.entry_price %></td>
            <td class="py-3"><%= trade.take_profit %></td>
            <td class="py-3"><%= trade.pnl %>%</td>
          </tr>
        </tbody>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
<br><br><br>