<div class="banner">
  <div class="container ">
    <div class="d-flex justify-content-around" >
      <div class="back">
        <h1 class= "title is-size-1 pt-6">Sumate a <strong class="has-text-link ">TradeIt.</strong></h1>
        <br>
          <div class="tile is-child box  p-4 features">
            <div class="level-left">
              <span><%= image_tag "money-bag.png", alt: "Earnings", width: 40 %> </span>
              <h4 class="ml-3 subtitle has-text-weight-semibold	">Copiá a tus traders favoritos</h4>
            </div>
            <br><br>
            <div class="level-left">
            <span><%= image_tag "clock.png", alt: "Earnings", width: 30 %> </span>
            <h4 class="ml-3 subtitle has-text-weight-semibold	">Ahorrá tiempo automatizando tus inversiones </h4>
            </div>
            <br><br>
            <div class="level-left">
            <span><%= image_tag "social-media.png", alt: "Earnings", width: 30 %> </span>
            <h4 class="ml-3 subtitle has-text-weight-semibold	">Aprendé en comunidad</h4>
            </div>
        </div>
      </div>
      <figure>
        <%= image_tag "Money income-bro.png", alt: "Astronaut", class:"d-flex justify-content-end pt-3", style:"width:450px;" %>
        </figure>
    </div>
  </div>
</div>

<section class="hero is-small contenedor px-6" style="background-color: #CED6F3;">
  <div class="hero-body">
    <p class="title text-center contitle has-text-link">
      Elegí tu riesgo y explorá traders
    </p>
    <div class="card-columns level">
      <%= link_to bios_path(params: {riesgo: 'bajo'}) do %>
        <div class="card shadow p-1 is-clickable level-left" style="width:360px; height:250px; border-radius: 3%;">
          <div class="title is-4 header text-center">
            <span class="tag is-link is-light is-large"> Riesgo Bajo </span>
          </div>
          <%= image_tag "low-vol.png", alt: "Low-risk", width: 350 %>
        </div>
      <% end %>
      <%= link_to bios_path(params: {riesgo: 'medio'}) do %>
        <div class="card shadow p-1 is-clickable level-left" style="width:360px; height:250px; border-radius: 3%;">
          <div class="title is-4 header text-center">
            <span class="tag is-link is-light is-large"> Riesgo Medio </span>
          </div>
          <%= image_tag "mid-vol.png", alt: "Med-risk", width: 350 %>
        </div>
      <% end %>
      <%= link_to bios_path(params: {riesgo: 'alto'}) do %>
        <div class="card shadow p-1 is-clickable level-left" style="width:360px; height:250px; border-radius: 3%;">
          <div class="title is-4 header text-center">
            <span class="tag is-link is-light is-large"> Riesgo Alto </span>
          </div>
          <%= image_tag "high-vol.png", alt: "High-risk", width: 350 %>
        </div>
      <% end %>
    </div>
  </div>
</section>
