<div style="background-color: #EEF1FA;">
  <br><br><br>
  <div class="rounded-lg overflow-hidden shadow max-w-3xl mx-auto p-5 bg-white " style="width: 50%;">
    <span class="is-size-3 "> Suscribe </span>
    <div class="pt-3">
      <%= simple_form_for [@trader, @subscription], remote: true do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-group">
          <div class="form-text">
            <%= f.input :amount_per_trade, label: "Amount to invest per trade (USDC)",  input_html: { type: 'number' } %>
          </div>
          <div class="form-text">
            <%= f.input :max_amount, label: "Max amount invested in all trades (USDC)", input_html: { type: 'number' } %>
          </div>
          <div class="form-actions mx-auto d-flex justify-content-center pt-4">
            <%= f.submit "Subscribe", class: "button is-link is-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
